body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.padded {
    padding: 15px;
}

.question-block {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
}

.spaced {
    margin: 15px;
}

.sub-inputs-list {
    margin-left: 25px;
}

.inline-block {
    display: inline-block;
}